@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Variables */

:root {
    --primario: #0B011D;
    --secundario: #1A063D;
    --border: #3D2667;
    --blanco: #FFFFFF;
    --hover: #dbdbdb;
    --negro: #000;
    --fuente-principal : "Rubik", sans-serif; 
}

/* Globales */

html {
    font-size: 62.5%;
}

*, 
*:after, 
*:before {
    box-sizing: border-box;
    margin: 0;
}

button,
textarea {
outline: none;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: var(--fuente-principal);
    line-height: 1.4;
    background-color: var(--primario);
    color: var(--blanco);
    display: grid;
    grid-template-rows: auto 1fr auto;
    scroll-behavior: smooth;
}

@media (min-width: 1024px) and (min-height: 1000px) { 
    body {
        max-height: 1300px;
        min-height: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: block;
}

[class*="contenedor"] {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

.seccion {
    padding-top: 2rem;
}

@media (min-width: 1024px) { 
    .seccion {
        padding-top: 4rem;
    }
}

/* Utilidades */

.btn-primary {
    background-color: var(--blanco);
    border-radius: 2.4rem;
    color: var(--secundario);
    padding: 1.3rem 2rem;
    border: none;
    width: 100%;
    font-weight: 600;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.422);
    cursor: pointer;
    transition: all .3s;
}

@media (min-width: 768px) { 
    .btn-primary {
        padding: 1.8rem 2rem;
    }
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.422),
    0px 0px 15px 3px  #3d266770;
}

.btn-primary--deshabilitado {
    background-color: var(--primario);
    box-shadow: none;
    border: 1px solid var(--secundario);
    pointer-events: none;
}

/* HEADER -------------> */

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 10rem;
}

.header__heading {
    font-size: 2.8rem;
    max-width: 20rem;
}

/* MAIN -------------> */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

@media (min-width: 1024px) and (min-height: 1200px) { 
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }
}

@media (min-width: 1024px) { 
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

/* Encriptador */

.encriptador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    flex: 1;
    min-height: 40rem; 
    position: relative;
}

.icono-pegar {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 4%;
    right: 4%;
    visibility: hidden;
}

.encriptador__entrada,
.resultado__box {
    resize: none;
    flex: 1;
    background-color: var(--secundario);
    border-radius: 2.4rem;
    border: 1px solid var(--border);
    padding: 2rem;
    font-size: 2rem;
    color: var(--blanco);
    font-family: var(--fuente-principal);
    transition: transform 0.2s ease-out;
}

@media (min-width: 1024px) { 
    .encriptador__entrada {
        padding: 4rem;
    }    
}

@media (min-width: 1200px) { 
    .encriptador__entrada,
    .resultado__box {
        font-size: 2.5rem;
    }    
}

.encriptador__entrada::placeholder {
    color: var(--blanco);
    font-family: var(--fuente-principal);
}

.encriptador__acciones {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.encriptador__restricciones {
    display: flex;
    gap: 1rem;
}

.encriptador__restricciones img {
    fill: #fff;
}

.animacion-atencion {
    animation: atencion 900ms ease-in;
}

.animacion-scale-signo {
    animation: scale-signo 500ms linear; 
}

[class$="botones"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


@media (min-width: 768px) { 
    [class$="botones"] {
        flex-direction: row;
        justify-content: center;
        gap: 2.4rem;
    }
}

[class$="botones"] button {
    max-width: 28rem;
}


@media (min-width: 1024px) { 
    [class$="botones"] {
        justify-content: center;
        gap: 2rem;
    }

    [class$="botones"] button {
        max-width: 28rem;
    }
}

/* Resultado */

.resultado {
    border: 1px solid var(--border);
    border-radius: 2.4rem;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
    min-height: 26rem;
}

@media (min-width: 1024px) { 
    .resultado {
        padding: 4rem;
        flex: 1;
    }
}

.resultado__box {
    border: none;
    border-radius: unset;
    padding: 0;
} 

.resultado__alerta {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resultado__alerta-ilustracion {
    display: none;
}

@media (min-width: 1024px) { 
    .resultado__alerta-ilustracion {
        display: block;
        max-width: 20rem;
        height: auto;
        transition: transform 0.5s ease-in-out;
        transform: rotate(-13deg) translate(-60%, -14%) scale(1.4);
    }
}

@media (min-height: 900px) {
    .resultado__alerta-ilustracion {
        max-width: 26rem;
    }
}

.resultado__alerta-mensaje {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.resultado__alerta-mensaje span {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3;
}

.resultado__alerta-mensaje p {
    font-weight: 300;
}

.resultado__botones .btn-primary:first-child {
    position: relative;
}

.icono-ok {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: -10%;
    right: 0;
    visibility: hidden;
    opacity: 0;
}

.animacion-mostrar-ok {
    animation: mostrar-ok 400ms linear forwards;
}

.footer {
    text-align: center;
}

/* Animacion de error de ingresos */

@keyframes atencion {
    0% {
        transform: translateX(1.5%); 
    } 
    25% {
        transform: translateX(-1.5%); 
    } 
    50% {
        transform: translateX(.60%); 
    } 
    75% {
        transform: translateX(-.60%); 
    } 
    100% {
        transform: translateX(0); 
    } 
}

@keyframes scale-signo {
    0% {
        transform: scale(1); 
    } 
    25% {
        transform: scale(1.5); 
    } 
    50% {
        transform: scale(2); 
    }
    75% {
        transform: scale(1.5); 
    }
    100% {
        transform: scale(1); 
    } 
}

@keyframes mostrar-ok {
    0% {
        opacity: 0;
        transform: scale(1);  
    } 
    50% {
        opacity: 0.5;  
        transform: scale(1.5); 
    } 
    100% {
        opacity: 1; 
        transform: scale(1);
    }
}

/* Utilidades */

.d-none {
    display: none;
}

.mostrar {
    visibility: visible;
}